@import url("setup.css");

/* header */

header {
  background-image: url("../img/hero.jpeg");
  background-size: cover;
  background-position: center center;
  height: 941px;
}

#logo {
  width: 121px;
}

header > nav {
  padding: 30px 0;
}

.navigation li {
  list-style: none;
  margin-left: 48px;
}

.navigation li > a {
  color: #fff;
}

.menubar-button {
  background: none;
  border: none;
  outline: none;
}

#hero {
  margin-top: 120px;
}

.counter {
  display: flex;
  margin: 0 auto;
  align-items: center;
  width: fit-content;
  width: -moz-fit-content;
}

.counter-box {
  background-color: #070d12;
  padding: 8px;
  border-radius: 10px;
  color: #fff;
  text-align: center;
  margin: 15px;
}

.counter > .counter-box .counter-font-big {
  width: fit-content;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 5px;
}

.counter > .counter-box .counter-font-small {
  width: fit-content;
  font-size: 7px;
  word-spacing: 2px;
  margin: 0 auto;
  text-transform: uppercase;
}

.counter-separator {
  font-size: 35px;
  font-weight: 600;
  color: #fff;
}

#about {
  margin-top: 106px;
  background-image: url("../img/decor1.svg");
  background-position: top left;
  background-size: contain;
  background-repeat: no-repeat;
}

.about-text {
  position: relative;
}

.about-text > .decor1 {
  width: 100px;
  position: absolute;
}

.about-img {
  background-image: url("../img/decor2.svg");
  background-position: bottom right;
  background-size: contain;
  background-repeat: no-repeat;
}

/* roadmap */

#roadmap {
  margin-top: 181px;
  background-image: url("../img/mountain-view.svg");

  background-repeat: no-repeat;
  background-position: bottom;
  padding-bottom: 20vh;
}

.roadmap-img {
  width: 56px;
}

.roadmap-block {
  margin-top: 32px;
}

.roadmap-block .roadmap-left-box {
  background-image: url("../img/roadmap-rectangle.svg");
  display: flex;
  align-items: center;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 12px 22px;
}

.roadmap-block .dotted {
  border-top: 5px dashed #5ab1c1;
  width: 50px;
  align-self: center;
  height: 1px;
}

.roadmap-block .chain {
  margin-top: -10%;
}

.roadmap-block .roadmap-right-box {
  background: rgba(40, 255, 229, 0.3);
  padding: 12px;
  padding-left: 25px;

  border: 2px solid rgba(40, 255, 229, 0.3);
  border-radius: 12px;
}

/* passport */
.avatar-passport {
  width: 196px;
}

#description {
  /* background-image: url("../img/decor3.svg"); */
  padding: 110px 0;
  background-size: cover;
  background-repeat: no-repeat;
}

#team {
  background-image: url("../img/forest.svg");
  padding: 180px 0;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 100px;
}

.team-title {
  background-image: url("../img/ellipse.svg");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 80px;
}

.faq-box {
  transition: 0.3s;
  cursor: pointer;
  border-radius: 12px;
  margin-right: 20px;
  margin-left: 20px;
}

.faq-box.active {
  padding: 20px;
  background-color: rgba(40, 255, 229, 0.3);
}

.faq-box:has() {
  background-color: rebeccapurple;
}

.collapse-trigger {
  font-weight: 600;
}

.collapse-arrow {
  transition: 0.3s;
}

.faq-box.active .collapse-arrow {
  transform: rotate(90deg);
}

.collapse-item {
  max-height: 0;
  overflow: hidden;
  transition: 0.3s;
}

.collapse-item.show {
  transition: 0.3s;
  max-height: 300px;
}

/* footer */
footer {
  margin-top: 100px;
  padding: 47px 0;
  background-color: #17202d;
}

footer .footer-logo {
  width: 125px;
}

.join-club {
  font-size: 14px;
}

.bottom-nav li a {
  color: rgba(255, 255, 255, 0.5);
}

@media screen and (min-width: 768px) {
  #logo {
    width: 191px;
  }

  .counter-box {
    padding: 22px;
  }

  .counter > .counter-box .counter-font-big {
    font-size: 70px;
    letter-spacing: 14px;
  }
  .counter > .counter-box .counter-font-small {
    font-size: 14px;
  }

  .avatar-passport {
    width: 306px;
  }

  .roadmap-img {
    width: 100px;
  }

  .roadmap-block .roadmap-left-box {
    padding: 23px 75px;
  }

  footer .footer-logo {
    width: 195px;
  }

  .join-club {
    font-size: 24px;
  }
}
