@import url("setup.css");

html {
  scroll-behavior: smooth;
}

/* header */

header {
  background-image: url("../img/hero.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  height: fit-content;
  height: -moz-fit-content;
  padding-top: 95px;
  padding-bottom: 116px;
}

nav {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  /* background : linear-gradient(rgb(255, 177, 112),rgb(250, 167, 99))); */
}

#hero p {
  font-size: 12px;
}

nav.bellow {
  background: linear-gradient(rgb(255, 177, 112), rgb(250, 167, 99));
  animation: addBackground 1s 1;
}

@keyframes addBackground {
  from {
    background: transparent;
  }
  to {
    background: linear-gradient(rgb(255, 177, 112), rgb(250, 167, 99));
  }
}

.side-navbar {
  background: white;
  position: fixed;
  top: 0;
  left: 0;
  max-height: 0;
  width: 100vw;
  box-shadow: 0px 2px 30px #eaeaea;
  z-index: 999;
  transition: 0.3s;
  overflow: hidden;
}

.side-navbar.active {
  padding: 1% 9%;
  max-height: 400px;
}

.side-navbar ul {
  padding-left: 0;
}

.side-navbar ul li {
  margin-top: 20px;
  list-style: none;
}

.side-navbar ul li:hover a {
  color: salmon;
}

.side-navbar ul li a {
  color: #333;
}

.close-button {
  position: relative;
  display: block;
  margin-top: 20px;
  margin-left: auto;
}

.close-button div {
  position: absolute;
  border-radius: 10px;
}

.close-button div:first-child,
.close-button div:last-child {
  width: 25px;
  height: 1px;
  border-top: 3px solid #333;
}

.close-button div:first-child {
  transform: rotate(45deg);
}
.close-button div:last-child {
  transform: rotate(-45deg);
}

#logo {
  width: 75px;
}

header > nav {
  padding: 20px 0;
}

.navigation li {
  list-style: none;
  margin-left: 48px;
}

.navigation li > a {
  color: #fff;
}

.menubar-button {
  background: none;
  border: none;
  outline: none;
}

/* #hero {
  margin-top: 40px;
} */

.counter {
  display: flex;
  margin: 0 auto;
  align-items: center;
  width: fit-content;
  width: -moz-fit-content;
}

.counter-box {
  background-color: #070d12;
  padding: 12px;
  border-radius: 10px;
  color: #fff;
  text-align: center;
  margin: 10px;
}

.counter-box:first-child {
  margin-left: 0;
}

.counter-box:last-child {
  margin-right: 0;
}

.counter > .counter-box .counter-font-big {
  width: fit-content;
  /* font-size: 28px; */
  font-weight: 600;
  letter-spacing: 5px;
}

.counter > .counter-box .counter-font-small {
  width: fit-content;
  font-size: 7px;
  word-spacing: 2px;
  margin: 0 auto;
  text-transform: uppercase;
}

.counter-separator {
  font-size: 35px;
  font-weight: 600;
  color: #fff;
}

#about {
  margin-top: 106px;
  background-image: url("../img/decor1.svg");
  background-position: top left;
  background-size: contain;
  background-repeat: no-repeat;
}

.about-text {
  position: relative;
}

.about-text > .decor1 {
  width: 100px;
  position: absolute;
}

.about-img {
  background-image: url("../img/decor2.svg");
  background-position: bottom right;
  background-size: contain;
  background-repeat: no-repeat;
}

/* roadmap */

#roadmap {
  margin-top: 181px;
  background-image: url("../img/mountain-view.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  padding-bottom: 20vh;
}

.roadmap-img {
  width: 100px;
}

.roadmap-block {
  margin-top: 32px;
}

.roadmap-block .roadmap-left-box {
  background-image: url("../img/roadmap-rectangle.svg");
  display: flex;
  align-items: center;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 12px 6px;
  border-radius: 12px;
}

.roadmap-block .dotted {
  border-top: 5px dashed #5ab1c1;
  width: 50px;
  align-self: center;
  height: 1px;
}

.roadmap-block .chain {
  margin-top: -10%;
  display: none;
}

.roadmap-block .roadmap-right-box {
  background: rgba(40, 255, 229, 0.3);
  padding: 12px;
  padding-left: 25px;

  border: 2px solid rgba(40, 255, 229, 0.3);
  border-radius: 12px;
}

.roadmap-block .roadmap-right-box ul {
  padding-left: 0;
}
.roadmap-block .roadmap-right-box ul li {
  font-size: 12px;
}

/* passport */
.avatar-passport {
  width: 196px;
}

#description {
  background-image: url("../img/decor-team.svg");
  padding: 110px 0;
  background-size: cover;
  background-repeat: no-repeat;
}

#team {
  background-image: url("../img/team-bg-mobile.svg");
  padding: 180px 0;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 100px;
}

.team-title {
  padding: 80px;
}

.faq-box {
  transition: 0.3s;
  cursor: pointer;
  border-radius: 12px;
  margin-right: 20px;
  margin-left: 20px;
  padding: 20px 12px;
}

.faq-box.active {
  padding: 20px;
  background-color: rgba(40, 255, 229, 0.3);
}

.faq-box:has() {
  background-color: rebeccapurple;
}

.collapse-trigger {
  font-weight: 600;
}

.collapse-arrow {
  transition: 0.3s;
}

.faq-box.active .collapse-arrow {
  transform: rotate(90deg);
}

.collapse-item {
  max-height: 0;
  overflow: hidden;
  transition: 0.3s;
}

.collapse-item.show {
  transition: 0.3s;
  max-height: 300px;
}

/* footer */
footer {
  margin-top: 100px;
  padding: 47px 0;
  background-color: #17202d;
}

footer .footer-logo {
  width: 85px;
}

.join-club {
  font-size: 14px;
}

.bottom-nav ul {
  padding: 0;
  list-style-type: none;
}

.bottom-nav ul > li:first-child {
  margin-left: 6px;
}
.bottom-nav ul > li {
  margin-right: 30px;
}

.bottom-nav ul > li a {
  color: rgba(255, 255, 255, 0.5);
}

@media screen and (min-width: 560px) {
  header {
    height: 914px;
    background-image: url("../img/hero.jpeg");
    padding-bottom: unset;
    background-size: cover;
    /* background-position: center center; */
  }

  #hero p {
    font-size: unset;
  }
}

@media screen and (min-width: 768px) {
  #logo {
    width: 94px;
  }

  #hero {
    margin-top: 120px;
  }

  .counter-box {
    padding: 22px;
    margin: 15px;
  }

  .counter > .counter-box .counter-font-big {
    font-size: 70px;
    letter-spacing: 14px;
  }
  .counter > .counter-box .counter-font-small {
    font-size: 14px;
  }

  .avatar-passport {
    width: 306px;
  }

  .roadmap-img {
    width: 150px;
  }

  .roadmap-block .roadmap-left-box {
    padding: 23px 75px;
    border-radius: 0;
  }

  .roadmap-block .roadmap-right-box ul li {
    font-size: 18px;
  }

  .roadmap-block .chain {
    display: block;
  }

  .team-title {
    background-image: url("../img/ellipse.svg");
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  #team {
    background-image: url("../img/forest.svg");
  }

  footer .footer-logo {
    width: 105px;
  }

  .join-club {
    font-size: 24px;
  }
}
