@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");

html,
body {
  overflow-x: hidden;
}

body {
  font-size: 18px;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Space Grotesk", sans-serif;
}

a {
  text-decoration: none;
}

.txt-20 {
  font-size: 20px;
}

.txt-24 {
  font-size: 24px;
}

.txt-bold {
  font-weight: 600;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 63px;
  }
  h2 {
    font-size: 48px;
  }
}
